@CHARSET "ISO-8859-1";

.fondo {
	background-color: #eee;
	background-image: url('../../resources/images/cajaArriba4.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:1000px;
	width:100%;
}

.imgDefault {
	background-image: url('../../resources/images/box.png');
	background-size: cover;
	background-repeat: no-repeat;
	height:100%;
	width:100%;
}

@media only screen and (max-width: 500px) {
    
}